In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel("customer_churn_large_dataset.xlsx")

In [3]:
df.head()

,CustomerID,Name,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,1,Customer_1,63,Male,Los Angeles,17,73.36,236,0
1,2,Customer_2,62,Female,New York,1,48.76,172,0
2,3,Customer_3,24,Female,Los Angeles,5,85.47,460,0
3,4,Customer_4,36,Female,Miami,3,97.94,297,1
4,5,Customer_5,46,Female,Miami,19,58.14,266,0

In [4]:
df.shape

(100000, 9)

In [5]:
df.columns

Index(['CustomerID', 'Name', 'Age', 'Gender', 'Location',
       'Subscription_Length_Months', 'Monthly_Bill', 'Total_Usage_GB',
       'Churn'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int64
 3   Gender                      100000 non-null  object
 4   Location                    100000 non-null  object
 5   Subscription_Length_Months  100000 non-null  int64
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int64
 8   Churn                       100000 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.9+ MB

In [7]:
df.describe()

,CustomerID,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,44.027020,12.490100,65.053197,274.393650,0.497790
std,28867.657797,15.280283,6.926461,20.230696,130.463063,0.499998
min,1.000000,18.000000,1.000000,30.000000,50.000000,0.000000
25%,25000.750000,31.000000,6.000000,47.540000,161.000000,0.000000
50%,50000.500000,44.000000,12.000000,65.010000,274.000000,0.000000
75%,75000.250000,57.000000,19.000000,82.640000,387.000000,1.000000
max,100000.000000,70.000000,24.000000,100.000000,500.000000,1.000000

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [9]:
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])
df['Location'] = encoder.fit_transform(df['Location'])
df=df.drop(['Name','CustomerID'],axis=1)

In [10]:
df

,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,63,1,2,17,73.36,236,0
1,62,0,4,1,48.76,172,0
2,24,0,2,5,85.47,460,0
3,36,0,3,3,97.94,297,1
4,46,0,3,19,58.14,266,0
...,...,...,...,...,...,...,...
99995,33,1,1,23,55.13,226,1
99996,62,0,4,19,61.65,351,0
99997,64,1,0,17,96.11,251,1
99998,51,0,4,20,49.25,434,1
99999,27,0,2,19,76.57,173,1

In [11]:
X=df.drop('Churn',axis=1)

In [12]:
y=df['Churn']

In [13]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(
X,y,test_size=0.33,random_state=10)

In [14]:
X_train

,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB
4076,54,0,0,8,53.53,394
10235,70,1,0,17,85.06,344
12929,41,0,3,20,70.07,500
51319,66,1,4,23,57.10,394
53055,57,0,3,13,80.39,267
...,...,...,...,...,...,...
9372,30,1,1,16,80.15,423
93553,23,0,3,23,45.67,52
50496,55,0,1,19,47.70,396
94735,18,1,3,11,96.69,435
83209,62,0,3,24,64.02,341

In [15]:
X_test

,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB
33226,70,0,2,24,92.46,174
64804,31,0,2,2,98.30,381
39763,59,1,4,9,44.95,91
51270,49,0,2,23,59.25,387
9698,66,0,3,8,47.76,303
...,...,...,...,...,...,...
4221,37,0,0,4,76.64,339
17526,57,1,4,24,48.41,67
18053,43,0,1,1,37.02,174
65154,47,1,4,17,99.07,162
98461,69,1,4,11,91.51,427

In [16]:
y_train

4076     1
10235    1
12929    0
51319    1
53055    0
        ..
9372     0
93553    1
50496    1
94735    1
83209    1
Name: Churn, Length: 67000, dtype: int64

In [17]:
y_test

33226    0
64804    0
39763    1
51270    1
9698     0
        ..
4221     0
17526    1
18053    0
65154    0
98461    0
Name: Churn, Length: 33000, dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()#intialising

In [19]:
scaler

StandardScaler()

In [20]:
X_train=scaler.fit_transform(X_train)

In [21]:
X_test=scaler.transform(X_test)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
regression=LinearRegression()
regression
regression.fit(X_train,y_train)

LinearRegression()

In [24]:
##print the coefficient
print(regression.coef_)

[ 2.64471895e-03  2.12632517e-03  3.41329438e-03  1.31901374e-03
 -1.53288976e-03 -2.38730292e-06]

In [25]:
#print the intercept
print(regression.intercept_)

0.49844776119402984

In [26]:
##prediction for the test data
reg_pred = regression.predict(X_test)

In [27]:
reg_pred

array([0.50096271, 0.48957635, 0.5089004 , ..., 0.49370321, 0.50423436,
       0.50747081])

In [28]:
#residuals
residuals= y_test-reg_pred

In [29]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print(mean_squared_error(y_test,reg_pred))
print(mean_absolute_error(y_test,reg_pred))
print(np.sqrt(mean_squared_error(y_test,reg_pred)))

0.25002586662023596
0.4999965364855073
0.5000258659511885

In [30]:
## R square
from sklearn.metrics import r2_score
score = r2_score(y_test, reg_pred)
print(score)

-0.00015375520364324657

In [31]:
## Adjusted R Square
#display adjusted R square
1 - (1-score)*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1)

-0.00033563992256002706